app1/src/main/resources/wsdl/sample.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wits="http://example.com/witsml"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/witsml">

    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/witsml">
            <xsd:element name="GetWellAndWellboreRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="StartTime" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="EndTime" type="xsd:dateTime" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetWellAndWellboreResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="WellDetails" type="wits:WellDetailsType"/>
                        <xsd:element name="WellboreDetails" type="wits:WellboreDetailsType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="WellDetailsType">
                <xsd:sequence>
                    <xsd:element name="Well" type="wits:WellType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WellboreDetailsType">
                <xsd:sequence>
                    <xsd:element name="Wellbore" type="wits:WellboreType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WellType">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="UID" type="xsd:string"/>
                    <xsd:element name="Location" type="xsd:string"/>
                    <xsd:element name="Operator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WellboreType">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="UID" type="xsd:string"/>
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="MD" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetWellAndWellboreRequestMessage">
        <wsdl:part name="parameters" element="wits:GetWellAndWellboreRequest"/>
    </wsdl:message>
    <wsdl:message name="GetWellAndWellboreResponseMessage">
        <wsdl:part name="parameters" element="wits:GetWellAndWellboreResponse"/>
    </wsdl:message>

    <wsdl:portType name="WITSMLPortType">
        <wsdl:operation name="GetWellAndWellbore">
            <wsdl:input message="wits:GetWellAndWellboreRequestMessage"/>
            <wsdl:output message="wits:GetWellAndWellboreResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WITSMLBinding" type="wits:WITSMLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetWellAndWellbore">
            <soap:operation soapAction="http://example.com/witsml/GetWellAndWellbore"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WITSMLService">
        <wsdl:port name="WITSMLPort" binding="wits:WITSMLBinding">
            <soap:address location="http://example.com/witsml"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
