app1/src/main/resources/wsdl/sample.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/witsml"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/witsml">

    <types>
        <xsd:schema targetNamespace="http://example.com/witsml">
            <xsd:element name="GetWellAndWellboreRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="StartTime" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="EndTime" type="xsd:dateTime" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetWellAndWellboreResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="WellDetails" type="xsd:string"/>
                        <xsd:element name="WellboreDetails" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetCapabilitiesRequest" type="xsd:string"/>
            <xsd:element name="GetCapabilitiesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Capabilities" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="GetWellAndWellboreRequestMessage">
        <part name="parameters" element="tns:GetWellAndWellboreRequest"/>
    </message>
    <message name="GetWellAndWellboreResponseMessage">
        <part name="parameters" element="tns:GetWellAndWellboreResponse"/>
    </message>
    <message name="GetCapabilitiesRequestMessage">
        <part name="parameters" element="tns:GetCapabilitiesRequest"/>
    </message>
    <message name="GetCapabilitiesResponseMessage">
        <part name="parameters" element="tns:GetCapabilitiesResponse"/>
    </message>

    <portType name="WITSMLPortType">
        <operation name="GetWellAndWellbore">
            <input message="tns:GetWellAndWellboreRequestMessage"/>
            <output message="tns:GetWellAndWellboreResponseMessage"/>
        </operation>
        <operation name="GetCapabilities">
            <input message="tns:GetCapabilitiesRequestMessage"/>
            <output message="tns:GetCapabilitiesResponseMessage"/>
        </operation>
    </portType>

    <binding name="WITSMLBinding" type="tns:WITSMLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetWellAndWellbore">
            <soap:operation soapAction="http://example.com/witsml/GetWellAndWellbore"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetCapabilities">
            <soap:operation soapAction="http://example.com/witsml/GetCapabilities"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="WITSMLService">
        <port name="WITSMLPort" binding="tns:WITSMLBinding">
            <soap:address location="http://example.com/witsml"/>
        </port>
    </service>
</definitions>
